# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [5]:

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers.  
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(1,17, size=(5,3)), columns=['A','B','C'])
print("Original DataFrame:")
print(df)
# Introduce some NaN values.
df.iloc[0,1] =np.nan
df.iloc[2,2] =np.nan
df.iloc[4,1] =np.nan
print(df)

# Fill the NaN values with the mean of the respective columns.
# inplace = In pandas, inplace=True is an optional parameter used in many methods to indicate whether the operation should modify the original object directly or return a modified copy of it.
df.fillna(df.mean(), inplace=True)
print(df)

Original DataFrame:
    A   B   C
0  13  13  13
1  16  10   6
2   5  10   5
3   2   9  16
4  12  16  11
    A     B     C
0  13   NaN  13.0
1  16  10.0   6.0
2   5  10.0   NaN
3   2   9.0  16.0
4  12   NaN  11.0
    A          B     C
0  13   9.666667  13.0
1  16  10.000000   6.0
2   5  10.000000  11.5
3   2   9.000000  16.0
4  12   9.666667  11.0

In [8]:
# 2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. 
df1 = pd.DataFrame(np.random.randint(1,25, size=(6,4)), columns=['A','B','C','D'])
print("Original DataFrame:")
print(df1)
# Introduce some NaN values. 
df1.iloc[0,1] =np.nan
df1.iloc[2,2] =np.nan
df1.iloc[4,1] =np.nan
df1.iloc[5,3] = np.nan
print(df1)
# Drop the rows with any NaN values.
df1.dropna(inplace= True)
print(df1)

Original DataFrame:
    A   B   C   D
0   5  16   3  10
1   6  14  19  18
2   7  20   4   1
3   7   9  11   9
4  19  20   5  12
5  16  13   9   1
    A     B     C     D
0   5   NaN   3.0  10.0
1   6  14.0  19.0  18.0
2   7  20.0   NaN   1.0
3   7   9.0  11.0   9.0
4  19   NaN   5.0  12.0
5  16  13.0   9.0   NaN
   A     B     C     D
1  6  14.0  19.0  18.0
3  7   9.0  11.0   9.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [10]:
# 1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. # Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. 
sales_df = pd.DataFrame({'Category':np.random.choice(['A','B','C'], size=10),'Value':np.random.randint(1,100,size=10)})
print(sales_df)

# Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
sales_df.groupby('Category')['Value'].agg(['sum','mean'])

  Category  Value
0        C     23
1        C     30
2        B     75
3        A     86
4        C     72
5        B     32
6        A     98
7        A     90
8        B     67
9        A     78

          sum       mean
Category
A         352  88.000000
B         174  58.000000
C         125  41.666667

In [12]:
# Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data.
prod_df = pd.DataFrame({'Product':np.random.choice(['TV','Toaster','AC'],size=10),'Category':np.random.choice(['A','B','C'], size=10),'Sales':np.random.randint(1,100,size=10)})
print(prod_df)
# Group the DataFrame by 'Category' and compute the total sales for each category.
prod_df.groupby('Category')['Sales'].sum()

   Product Category  Sales
0       AC        C     37
1       TV        A     13
2       TV        B     71
3       AC        C      9
4       TV        B     57
5       AC        C     20
6  Toaster        C     54
7       TV        A     95
8  Toaster        C      7
9       TV        C     45

Category
A    108
B    128
C    172
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [14]:
# 1. Create two Pandas DataFrames with a common column. 
dfm1 = pd.DataFrame({'Key':['A','B','C','D'],'Value':np.random.randint(1,100,size=4)})
dfm2 = pd.DataFrame({'Key':['E','F','G','D'],'Value':np.random.randint(1,100,size=4)})
print(dfm1)
print(dfm2)
# Merge the DataFrames using the common column.
merged = pd.merge(dfm1,dfm2, on='Key')
print(merged)

  Key  Value
0   A     52
1   B      9
2   C     48
3   D     13
  Key  Value
0   E     44
1   F     83
2   G     17
3   D      9
  Key  Value_x  Value_y
0   D       13        9

In [15]:
# Create two Pandas DataFrames with different columns
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  64  48
1  91  64
2  83  73
DataFrame 2:
    C   D
0  97   3
1  54  20
2  61  20
Concatenated DataFrame (rows):
      A     B     C     D
0  64.0  48.0   NaN   NaN
1  91.0  64.0   NaN   NaN
2  83.0  73.0   NaN   NaN
0   NaN   NaN  97.0   3.0
1   NaN   NaN  54.0  20.0
2   NaN   NaN  61.0  20.0
Concatenated DataFrame (columns):
    A   B   C   D
0  64  48  97   3
1  91  64  54  20
2  83  73  61  20

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [19]:
# 1. Create a Pandas DataFrame with a datetime index and one column filled with random integers.
### Create a object date_rng - using date_range method of pandas - it has values starting from 1 jan 2024 to 31 dec 2024, frequency is daily means 365 values.
date_rng = pd.date_range(start='2024-01-01',end='2024-12-31',freq='D') 
### Create a pd data frame with data taken from above object and putting it in column date
df = pd.DataFrame(date_rng, columns=['date'])
### Create a new column in above df called data 
df['data'] = np.random.randint(1,100, size=(len(date_rng)))

df.set_index('date',inplace= True)
print(df)


# Resample the DataFrame to compute the monthly mean of the values.
monthly_mean = df.resample('ME').mean()
print(monthly_mean)

            data
date
2024-01-01    23
2024-01-02    35
2024-01-03    85
2024-01-04    34
2024-01-05    34
...          ...
2024-12-27    63
2024-12-28    72
2024-12-29    65
2024-12-30    59
2024-12-31    18

[366 rows x 1 columns]
                 data
date
2024-01-31  44.129032
2024-02-29  51.551724
2024-03-31  43.806452
2024-04-30  43.166667
2024-05-31  49.483871
2024-06-30  48.200000
2024-07-31  53.806452
2024-08-31  43.967742
2024-09-30  48.800000
2024-10-31  48.387097
2024-11-30  49.266667
2024-12-31  47.645161

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [ ]:
# 1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). 

# Perform some basic indexing and slicing operations on the MultiIndex DataFrame.