SQL
1. It is a std language used to manipulate RDBMS
   
SQL Lite
1. It is a serverless db engine.

In [3]:
import sqlite3

In [6]:
#Connect to a sqllite db
## Create db
connection = sqlite3.connect('example.db')

In [7]:
##cursor object
cursor = connection.cursor()

In [8]:
## Creating table inside created DB
cursor.execute('''
Create Table If Not Exists Employee(
            id Integer Primary Key,
            name Text Not Null,
            age Integer,
            department Text
            
)
''')
## commit the changes
connection.commit()

In [9]:
cursor.execute('''
Select * from Employee
''')

In [11]:
# insert data in Db table
cursor.execute('''
    Insert Into Employee(name,age,department)
        values('Krish',32,'Data Scientist')
        
    
''')

cursor.execute('''
    Insert Into Employee(name,age,department)
        values('Shreyasi',23,'ML engineer')
        
    
''')

cursor.execute('''
    Insert Into Employee(name,age,department)
        values('Rajat',23,'Data Engineer')
        
    
''')

connection.commit()

In [15]:
##Querying the data from sqllite3
cursor.execute('''
    Select * from Employee
''')

rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Krish', 32, 'Data Scientist')
(2, 'Shreyasi', 23, 'ML engineer')
(3, 'Rajat', 23, 'Data Engineer')

In [16]:
#Update data in table
cursor.execute('''
UPDATE Employee
Set age = 34
where name = 'Krish'
''')
connection.commit()

In [17]:
cursor.execute('''
    Select * from Employee
''')

rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(2, 'Shreyasi', 23, 'ML engineer')
(3, 'Rajat', 23, 'Data Engineer')

In [18]:
# delete the data from the table
cursor.execute('''
DELETE from Employee
where name = 'Rajat'
''')
connection.commit()

In [19]:
cursor.execute('''
    Select * from Employee
''')

rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(2, 'Shreyasi', 23, 'ML engineer')

In [20]:
connection.close()